<!-- grocery list -->
<div class="center"><h1> <%= @user.name %>'s groceries</h1>

<form action='/new_item' method='POST'>
  <strong>Add Food Item:</strong>
  <input type='text' name='task' placeholder='item name' />
  <select name = 'date'>
  <option value="Full Supply">Full Supply</option>
  <option value="Running Low">Running Low</option>
  <option value="All Out!">All Out!</option>
  </select>
  <select name = 'number'>
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
  <option value=6>6</option>
  <option value=7>7</option>
  <option value=8>8</option>
  <option value=9>9</option>
  <option value=10>10</option>
  </select>
  <select name = 'unit'>
  <option value=""> </option>
  <option value="box">box</option>
  <option value="bag">bag</option>
  <option value="jar">jar</option>
  <option value="can">can</option>
  </select>
  <input type='submit' value='Save'/>
<br><br>
<a style="text-decoration: underline" href="/logout">Log Out</a>
</form>
</div>

<div class="left"> <h2> I have: </h2>
<% @tasks.each do |task| %> 
<% unless task.due_date == "All Out!" %>
<% unless task.description.blank? %> 

  <% if task.due_date == "Full Supply" %>
    <button class="full"></button> 
  <% end %>

  <% if task.due_date == "Running Low" %>
    <button class="low"></button>  
  <% end %>

  
  <% unless task.number.blank? %> <%= task.number %> <% end %>
  <% unless task.unit.blank? %> <%= task.unit %> <% end %>
  <%= task.description %> 

  <a style="text-decoration: none" href= '/delete_item/<%= task.id %>' ><button class="delete"> X</button> </a> 
  

  <br>
<% end %> 
<% end %>
<% end %>
</div>

<div class="right"> <h2>I need: </h2> 
<% @tasks.each do |task| %> 
<% unless task.due_date == "Full Supply" %>
<% unless task.description.blank? %> 

  <% if task.due_date == "Running Low" %>
    <button class="low"></button>
  <% end %>

  <% if task.due_date == "All Out!" %>
    <button class="out"></button> 
  <% end %>

   <% unless task.number.blank? %> <%= task.number %> <% end %>
  <% unless task.unit.blank? %> <%= task.unit %> <% end %>
  <%= task.description %> 

  <a style="text-decoration: none" href ='/delete_item/<%= task.id %>' ><button class="delete"> X</button> </a> 
  
   
  <br>
<% end %>
<% end %> 
<% end %>
</div>



