<!-- grocery list -->
<div class="center"><h1> <%= @user.name %>'s groceries</h1>

 <% @tasks.each do |task| %>  
   <% unless task.description.blank? %> <%= task.description %> 
   <% unless task.due_date.blank? %> - <%= task.due_date%><% end %> <% end %>
   <% unless task.description.blank? %> 


   <a style="text-decoration: none" href='/change_status_full/<%= task.id %>'><button class="button"> Freshly Stocked </button> </a> 

    <a style="text-decoration: none" href='/change_status_low/<%= task.id %>'><button class="button"> Running Low </button> </a> 


  <a style="text-decoration: none" href='/change_status_out/<%= task.id %>'><button class="button"> All Out! </button> </a>
   
   <a style="text-decoration: none" href='/delete_item/<%= task.id %>'><button class="button"> Delete Item </button> </a> 

   <% end %>
   <% unless task.description.blank? %> <br> <%end%>
  <% end %> 
 

<br><br><br><br>
<form action='/new_item' method='POST'>
  <strong>New Task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <select name = 'date'>
  <option value="Full Supply">Full Supply</option>
  <option value="Running Low">Running Low</option>
  <option value="All Out!">All Out!</option>
  </select>
  <input type='submit' value='Save'/>
<br><br>
<a style="text-decoration: underline" href="/logout">Log Out</a>
</form>
</div>
<!-- <form action='/' method='POST'>
  <strong>Finished Task:</strong>
  <input type='text' name='completed' placeholder='finished task' />
  <input type='submit' value='Save'/>
</form> -->


