<!-- grocery list -->
<div class="center"><h1> <%= @user.name %>'s groceries</h1>

<form action='/new_item' method='POST'>
  <strong>Add Food Item:</strong>
  <input type='text' name='task' placeholder='task content' />
  <select name = 'date'>
  <option value="Full Supply">Full Supply</option>
  <option value="Running Low">Running Low</option>
  <option value="All Out!">All Out!</option>
  </select>
  <input type='submit' value='Save'/>
<br><br>
<a style="text-decoration: underline" href="/logout">Log Out</a>
</form>
</div>

<div class="left"> <h2> I have: </h2>
  <% @tasks.each do |task| %> 

 <% unless task.due_date == "All Out!" %>
   <% unless task.description.blank? %>  <a style="text-decoration: none" href='/delete_item/<%= task.id %>' ><button class="delete"> X</button> </a> <%= task.description %> 
   
   <a style="text-decoration: none" href='/change_status_full/<%= task.id %>'><button class="full"></button> </a> 

    <a style="text-decoration: none" href='/change_status_low/<%= task.id %>'><button class="low"></button> </a> 


  <a style="text-decoration: none" href='/change_status_out/<%= task.id %>'><button class="out"></button> </a>

  <% unless task.due_date.blank? %> <%= task.due_date%><% end %> <% end %>
   <% unless task.description.blank? %> 
   
   <% end %>
   <% unless task.description.blank? %> <br> <%end%>
  <% end %> 
  <% end %>


</div>
<div class="right"> <h2>I need: </h2> 
<% @tasks.each do |task| %> 

 <% unless task.due_date == "Full Supply" %>
   <% unless task.description.blank? %>  <a style="text-decoration: none" href='/delete_item/<%= task.id %>' ><button class="delete"> X</button> </a> <%= task.description %> 
   
   <a style="text-decoration: none" href='/change_status_full/<%= task.id %>'><button class="full"></button> </a> 

    <a style="text-decoration: none" href='/change_status_low/<%= task.id %>'><button class="low"></button> </a> 


  <a style="text-decoration: none" href='/change_status_out/<%= task.id %>'><button class="out"></button> </a>

  <% unless task.due_date.blank? %> <%= task.due_date%><% end %> <% end %>
   <% unless task.description.blank? %> 
   
   <% end %>
   <% unless task.description.blank? %> <br> <%end%>
  <% end %> 
  <% end %>
  </div>



